@using EShop.Models
@model IEnumerable<CategorieProdus>
@{ 
    ViewData["Title"] = "Index";

}

<br/> <br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista Categorii Produse</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Categorie Noua</a>
    </div>
</div>
<br/>
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression: c=>c.DenumireCategorie)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.DenumireCategorie</td>
                    <td>
                        <partial name="ButtonPartial" model="@item.CategorieId"/>
                    </td>
                </tr>
            }
        </table>
    </div>
