@using EShop.Models


@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />

<div class="row">
    @foreach (var produs in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px; color: lightpink">@produs.Denumire</label>
                    </h4>
                </div>
                <img src="~/@produs.Image" alt="Card Image" class="card-img-top" style="height: 300px;" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size: 20px;color: #808080"><b>   Pret: @produs.Pret RON</b></label>
                        </div>
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@produs.Id" class="btn btn pull-right btn-outline-info" style="color: lightpink">Detalii</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>





